.DS_Store
.vscode/
**/bin/*
coverage/*
dist/*
tmp/*
vendor/*
output/*
Release/*
**/obj/*
**/.vs/*
*.msi
*.nupkg
build/package/chocolatey/tools/LICENSE.txt
schema.json
Dockerfile

# Embedded recipe files
internal/install/recipes/files/**/*
!internal/install/recipes/files/.keep
