name: Compiling

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  # Compile on all supported OSes
  compile:
    strategy:
      matrix:
        go-version:
          - 1.17.x
        platform:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.x

      - name: Compile
        run: make compile-only
        env:
          SPLIT_PROD_KEY: ${{ secrets.SPLIT_PROD_KEY }}
          SPLIT_STAGING_KEY: ${{ secrets.SPLIT_STAGING_KEY }}
