name: Snapshot

on:
  push:
    branches: [main]

jobs:
  snapshot:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.16.x

      - name: Add GOBIN to PATH
        run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
        shell: bash

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build artifact
        shell: bash
        run: make compile-linux

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: bin/linux/
          file: ./build/package/Dockerfile
          pull: true
          push: true
          cache-from: type=registry,ref=newrelic/cli:latest
          cache-to: type=inline
          tags: newrelic/cli:latest
        env:
          SPLIT_PROD_KEY: ${{ secrets.SPLIT_PROD_KEY }}
          SPLIT_STAGING_KEY: ${{ secrets.SPLIT_STAGING_KEY }}
